.result-table{
    border: 2px solid white;
    margin: 10px;
  }
  .test-date{
    font-size: larger;
  }
  .table-header th{
    background-color: rgb(183, 58, 146);
    color: white;
    outline: 3px solid rgba(183, 58, 146,1);
    padding: 5px 10px;
  }
  .result-table:hover tr{
    background-color: rgba(84,58,183,1);

    color: white;
    outline: 1px solid white;
    transition: background-color .5s;
  }
  .result-table:hover th{
    background-color:black;
    color: rgba(183, 58, 146,1);
    outline: 1px solid white;
    transition: background-color .5s;
  }
  .row td{
    outline: 1px solid white;
    padding: 5px;
    font-size: larger;
  }
